:root {
  /*red*/
  --red-main-bg: #c1121f;
  --red-header-bg: #780000;
  /*blue*/
  --blue-main-bg: #1C6E8C;
  --blue-header-bg: #274156;
  /*green*/
  --green-main-bg: #59981A;
  --green-header-bg: #3D550C;
  /*yellow*/
  --yellow-main-bg: #E5C101;
  --yellow-header-bg: #b5b507bf;
  /*gray*/
  --gray-main-bg: #b3af99;
  --gray-header-bg: #868B8E;
  /*purple*/
  --purple-main-bg: #B175FF;
  --purple-header-bg: #2D1674;
  /*black*/
  --black-main-bg: #464033;
  --black-header-bg: #140005;
  /*pink*/
  --pink-main-bg: #D43790;
  --pink-header-bg: #870A30;
  --board-main-bg-color-variable: var(--red-main-bg);
  --board-header-bg-color-variable: var(--red-header-bg);
}

/*workspace*/
.board {
  height: 100%;
  background-color: var(--board-main-bg-color-variable);
}
.board__container {
  margin-left: 0.6rem;
  height: 100vh;
}

.board__details {
  color: #fff;
  display: flex;
  flex-direction: row;
}
.board__details-item {
  display: inline-block;
  height: 2.4rem;
  border-radius: 4%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.4rem 0.8rem;
  margin: 0.3rem 0.6rem;
}
.board__details-item:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}
.board__details-title {
  font-weight: bold;
}
.board__details-separator {
  margin: 0;
  padding: 0;
  background: none;
  font-size: 2rem;
  transform: translateY(-0.2rem);
  opacity: 60%;
}
.board__details-members-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.board__details-member {
  background-color: blue;
  border-radius: 100%;
  font-size: 12px;
  padding: 5px;
  margin-right: 3px;
}
.board__details-menu-open {
  display: block;
  width: 300px;
  background-color: #aaa;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 0;
  transition: width 0.5s;
}
.board__details-menu-closed {
  height: 0;
  width: 0;
  transition: width 0.5s;
}
.board__details-menu-header {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: solid #ccc 1px;
}
.board__details-menu-title {
  text-align: center;
  width: 100%;
}
.board__details-menu-close {
  margin-left: auto;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  margin-right: 5px;
  color: #fff;
}
.board__details-menu-content {
  margin-left: 20px;
  margin-right: 10px;
}
.board__details-menu-about {
  cursor: pointer;
  height: 60px;
  display: grid;
  grid-template-areas: "icon text" ". desc";
  grid-template-columns: 10% 90%;
  margin-bottom: 10px;
}
.board__details-menu-about:hover {
  background-color: #bbb;
  padding-left: 10px;
  border-radius: 5px;
}
.board__details-menu-about-icon {
  font-size: 20px;
}
.board__details-menu-about-text {
  align-self: center;
  font-weight: bold;
}
.board__details-menu-about-description {
  grid-area: desc;
  align-self: flex-start;
}
.board__details-menu-change-theme {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  height: 30px;
}
.board__details-menu-change-theme:hover {
  background-color: #bbb;
  padding-left: 10px;
  border-radius: 5px;
}
.board__details-menu-change-theme-color {
  height: 20px;
  width: 20px;
  background-color: blue;
  border-radius: 30%;
  margin-right: 10px;
}
.board__details-menu-log-area {
  margin-top: 30px;
}

.header {
  background-color: var(--board-header-bg-color-variable);
  height: 60px;
  padding-top: 1rem;
  display: grid;
  grid-template-areas: "init logo final";
  grid-template-columns: 50% 30% 20%;
}
.header button {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4%;
  margin: 0.2rem 0.2rem;
  height: 70%;
}
.header button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}
.header__intial-half {
  grid-area: init;
  display: flex;
  flex-direction: row;
}
.header__search-area {
  margin-left: 4rem;
}
.header__search-area > * {
  height: 70%;
}
.header__search-input {
  border: none;
  border-radius: 3%;
  margin-right: 0.2rem;
}
.header__logo-area {
  grid-area: logo;
  display: inline-block;
  height: 100%;
  padding-top: 5px;
}
.header__final-half {
  grid-area: final;
  justify-self: end;
  margin-right: 2rem;
  height: 100%;
}
.header__create--dropdown {
  position: absolute;
  background-color: transparent;
  width: 20%;
  left: 80%;
  z-index: 1;
  padding-right: 2.2rem;
}
.header__create--dropdown-bg {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px 0;
}
.header__create--element {
  cursor: pointer;
  padding: 6px 10px;
}
.header__create--element:hover {
  background-color: #ddd;
}
.header__create--element p {
  color: #888;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}
.header__create--main-title {
  color: #888;
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-bottom: solid 1px #aaa;
  margin-bottom: 20px;
}
.header__create--title-area {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 5px;
}
.header__create--input-area {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header__create--input-area label, .header__create--input-area p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}
.header__create--input-area label span, .header__create--input-area p span {
  color: red;
}
.header__create--input-area input:hover {
  background-color: #e1e1e1;
}
.header__create--input-area button {
  color: #fff;
  background-color: #bbb;
  border-radius: 5px;
}
.header__create--input-area button:hover {
  background-color: #ccc;
  color: #fff;
}
.header__create--input-area-colors {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  gap: 5px;
  margin-bottom: 10px;
}
.header__create--input-area-color {
  display: flex;
  width: 20%;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__create--input-area-color:hover {
  opacity: 0.7;
}
.header__create--input-area-color-red {
  background-color: var(--red-main-bg);
}
.header__create--input-area-color-blue {
  background-color: var(--blue-main-bg);
}
.header__create--input-area-color-green {
  background-color: var(--green-main-bg);
}
.header__create--input-area-color-yellow {
  background-color: var(--yellow-main-bg);
}
.header__create--input-area-color-gray {
  background-color: var(--gray-main-bg);
}
.header__create--input-area-color-purple {
  background-color: var(--purple-main-bg);
}
.header__create--input-area-color-black {
  background-color: var(--black-main-bg);
}
.header__create--input-area-color-pink {
  background-color: var(--pink-main-bg);
}

@media screen and (max-width: 970px) {
  #boards > span {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  .header__search-area > input {
    display: inline-block;
    width: 30px;
  }
}
.new-list-btn {
  display: inline-block;
  margin-top: 0.6rem;
  text-align: center;
  width: 16rem;
  height: 2rem;
  padding-bottom: 2rem;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

.new-list-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

.list__new-card-button {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: 95%;
  color: #47484a;
  font-size: 14px;
  font-weight: 300;
}
.list__new-card-button:hover {
  background-color: #ccced3;
}

.delete-btn {
  display: block;
  width: 100%;
}

.card__activity {
  margin-top: 20px;
  margin-left: 20px;
}
.card__activity-icon {
  display: inline-block;
  margin-right: 0.4rem;
}
.card__activity-title {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  margin: 0;
}
.card__activity-comment-area {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__activity-user-image {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.card__activity-comment-text {
  font-size: 0.8rem;
  height: 2rem;
  width: 100%;
  margin-left: 0.6rem;
  resize: none;
}

.card__comments {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.label-color {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  color: #fff;
  margin-bottom: 4px;
  cursor: pointer;
}
.label-active {
  background-image: url("../assets/icons/check.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 20px;
  height: 20px;
  margin-left: auto;
}
.label-red {
  background-color: var(--red-main-bg);
}
.label-red:hover {
  box-shadow: -5px 0px rgba(193, 18, 31, 0.7);
}
.label-blue {
  background-color: var(--blue-main-bg);
}
.label-blue:hover {
  box-shadow: -5px 0px rgba(28, 110, 140, 0.7);
}
.label-green {
  background-color: var(--green-main-bg);
}
.label-green:hover {
  box-shadow: -5px 0px rgba(89, 152, 26, 0.7);
}
.label-yellow {
  background-color: var(--yellow-main-bg);
}
.label-yellow:hover {
  box-shadow: -5px 0px rgba(229, 193, 1, 0.7);
}
.label-gray {
  background-color: var(--gray-main-bg);
}
.label-gray:hover {
  box-shadow: -5px 0px rgba(179, 175, 153, 0.7);
}
.label-purple {
  background-color: var(--purple-main-bg);
}
.label-purple:hover {
  box-shadow: -5px 0px rgba(177, 117, 255, 0.7);
}
.label-black {
  background-color: var(--black-main-bg);
}
.label-black:hover {
  box-shadow: -5px 0px rgba(70, 64, 51, 0.7);
}
.label-pink {
  background-color: var(--pink-main-bg);
}
.label-pink:hover {
  box-shadow: -5px 0px rgba(212, 55, 144, 0.7);
}

.card__button-members-dropdown-members-area {
  font-size: 12px;
  margin-bottom: 10px;
}
.card__button-members-dropdown-member {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.card__button-members-dropdown-member:hover {
  cursor: pointer;
  background-color: #ccc;
}
.card__button-members-dropdown-member-initials {
  width: 25px;
  margin-right: 5px;
  color: #fff;
  background-color: blue;
  padding: 3px;
  border-radius: 100%;
}
.card__button-members-dropdown-member-active {
  background-image: url("../assets/icons/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  justify-self: flex-end;
  color: transparent;
  width: 14px;
  opacity: 0.3;
  padding: 5px;
}
.card__button-members-dropdown--item {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__button-members-dropdown--item:hover {
  background-color: rgba(102, 102, 102, 0.1333333333);
  cursor: pointer;
}
.card__button-members-dropdown--image {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  margin-right: 0.4rem;
}
.card__button-members-dropdown--active {
  margin-right: 0.4rem;
}

.card__button-area {
  margin-top: 1rem;
  margin-left: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card__button-area-title {
  font-size: 0.7rem;
  color: #666;
  text-align: end;
}
.card__button-area-btn {
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  background-color: #aaa;
  border-color: #aaa;
}
.card__button-dropdown {
  width: 100%;
  background-color: #eee;
  color: #666;
  display: block;
  height: fit-content;
  min-height: 100px;
  transition: height 0.3s, visibility 2s;
}
.card__button-dropdown-menu {
  height: fit-content;
  min-height: 40px;
}
.card__button-dropdown-closed {
  visibility: hidden;
  height: 0;
  transition: height 0.5s;
}
.card__button-dropdown--title {
  text-align: center;
  font-size: 14px;
  border-bottom: solid 1px #ccc;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 6px;
}
.card__button-dropdown--subtitle {
  font-size: 0.8rem;
  font-weight: bold;
}
.card__button-dropdown--list-area {
  margin-bottom: 20px;
}

.card__comments-comment {
  display: grid;
  grid-template-areas: "pic user time" "pic content content" "pic btn btn";
  grid-template-columns: 10% 70% 20%;
}

.card__activity-user-image {
  grid-area: pic;
}

.card_comment-user {
  margin-left: 0.4rem;
  grid-area: user;
  font-size: 1rem;
  font-weight: bold;
}
.card_comment-time {
  grid-area: time;
  font-size: 0.6rem;
  text-align: end;
}
.card_comment-content {
  margin-left: 0.4rem;
  grid-area: content;
  display: inline-block;
  background-color: #fff;
  border-color: #aaa;
  width: 100%;
}

svg {
  display: inline-block;
  transform: translateY(-0.2rem);
}

.card__description {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  grid-area: "desc";
}
.card__description-title {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  margin: 0;
}
.card__description-text {
  margin-top: 10px;
  font-size: 0.8rem;
  background-color: rgba(9, 30, 66, 0.0392156863);
  padding-top: 0.4rem;
  padding-left: 0.6rem;
  border-radius: 5px;
  width: 100%;
}
.card__description-content {
  margin-bottom: 0;
  padding-bottom: 15rem;
}
.card__description-initial {
  color: #aaa;
  text-decoration: dashed;
  cursor: pointer;
}
.card__description-initial:hover {
  background-color: #ddd;
}
.card__description-text-area {
  display: block;
  margin-bottom: 0.4rem;
  height: 15rem;
  background-color: rgba(9, 30, 66, 0.0392156863);
  font-size: 0.8rem;
  resize: none;
}
.card__description-btn {
  background-color: #ddd;
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
}
.card__description-btn:hover {
  background-color: #ccc;
  transform: translateY(-2px);
  transition: transform 0.2s;
}
.card__description-btn-submit {
  margin-right: 10px;
  background-color: var(--green-main-bg);
  color: #fff;
}
.card__description-btn-submit:hover {
  background-color: var(--green-header-bg);
}
.card__description-btn-area {
  margin-top: 1rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card__edit-modal_main-height {
  height: 400px;
}
.card__edit-modal_flex {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 100%;
  border: none;
}
.card__edit-modal_content {
  display: flex;
  flex-direction: column;
}
.card__edit-modal_btn {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 16px;
  font-weight: 500;
}
.card__edit-modal_btn:hover {
  background-color: #bbb;
}
.card__edit-modal_btn-save {
  margin-top: 10px;
  width: 30%;
  color: #fff;
  background-color: var(--blue-main-bg);
}
.card__edit-modal_btn-save:hover {
  background-color: var(--blue-header-bg);
}
.card__edit-modal_label {
  font-weight: 600;
  margin-bottom: 5px;
  background-color: #bbb;
  border-radius: 5px;
  padding: 5px 10px;
}
.card__edit-modal_input {
  font-size: 16px;
  padding: 6px 2px;
  border: none;
  border-radius: 5px;
  height: 100px;
}
.card__edit-modal_settings {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
}
.card__edit-modal_settings-btn {
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  width: 170px;
  text-align: left;
  padding: 5px 10px;
  margin-bottom: 8px;
}
.card__edit-modal_settings-btn:hover {
  background-color: #222;
  cursor: pointer;
  transform: translateX(5px);
}
.card__edit-modal_settings-btn + article {
  margin-top: -8px;
}
.card__edit-modal_edit-members {
  background-color: #eee;
  border-radius: 2px;
  min-height: 100px;
}
.card__edit-modal_edit-members-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: solid 1px #bbb;
  margin: 5px 8px;
}
.card__edit-modal_edit-members-header h4 {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}
.card__edit-modal_edit-members-header button {
  font-size: 12px;
  font-weight: 300;
  color: #aaa;
  border: none;
  background-color: transparent;
}
.card__edit-modal_edit-members-header button:hover {
  color: #555;
}
.card__edit-modal_edit-members-content {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.card__edit-modal_edit-members-content > span {
  font-size: 12px;
  font-weight: 600;
}
.card__edit-modal_edit-members-content-member {
  margin-top: 5px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.card__edit-modal_edit-members-content-initials {
  background-color: blue;
  padding: 5px;
  border-radius: 100%;
  margin-right: 5px;
  width: 35px;
  text-align: center;
}
.card__edit-modal_edit-members-content-active {
  background-image: url("../assets/icons/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  justify-self: flex-end;
  color: transparent;
  width: 14px;
  opacity: 0.3;
}
.card__edit-modal_edit-move {
  background-color: #eee;
  border-radius: 2px;
  min-height: 100px;
  height: fit-content;
  padding-bottom: 10px;
}
.card__edit-modal_edit-move-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: solid 1px #bbb;
  margin: 5px 8px;
}
.card__edit-modal_edit-move-header h4 {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}
.card__edit-modal_edit-move-header button {
  font-size: 12px;
  font-weight: 300;
  color: #aaa;
  border: none;
  background-color: transparent;
}
.card__edit-modal_edit-move-header button:hover {
  color: #555;
}
.card__edit-modal_edit-move-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  min-height: 75%;
}
.card__edit-modal_edit-move-content span {
  font-weight: 600;
  font-size: 12px;
}
.card__edit-modal_edit-move-content select {
  background-color: #efefef;
  color: #555;
}
.card__edit-modal_edit-move-content button {
  font-size: 14px;
  margin-top: 6px;
  cursor: pointer;
  width: 50%;
  background-color: var(--blue-main-bg);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
}
.card__edit-modal_edit-move-content button:hover {
  background-color: var(--blue-header-bg);
}

.card__content-label {
  display: inline-block;
  width: 3rem;
  height: 2rem;
  border-radius: 0.2rem;
  margin-right: 0.2rem;
}

.card__content-label-area > .card__content-label {
  box-shadow: none;
}

.list__card {
  margin-left: 5px;
  margin-bottom: 5px;
  width: 95%;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list__card:hover {
  cursor: pointer;
}

.card__container {
  background-color: #eee;
}

.card-title {
  font-weight: bold;
}

.card__content-container {
  display: grid;
  grid-template-areas: "details details" "desc btn" "com com";
  grid-template-columns: 80% 20%;
}

.card__content-details {
  grid-area: details;
  margin-left: 1rem;
}

.card__content-members-photo {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.card__content-members-photo:hover {
  cursor: pointer;
}

.card__name {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  margin: 8px;
  height: 80px;
}
.card__name:hover {
  background-color: #ddd;
}
.card__name:hover .card__btn-edit {
  display: block;
}

.card__half-1 {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.card__span {
  width: 100%;
  height: 30px;
  display: inline-block;
  padding: 2px 0 0 0;
  order: 2;
}
.card__span:hover {
  cursor: pointer;
}
.card__span-member-photo {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
}
.card__span-label {
  display: inline-block;
  width: 40px;
  height: 10px;
  border-radius: 10px;
  margin-right: 0.2rem;
  background-color: blue;
}
.card__span-label:hover {
  box-shadow: none;
}

.card__labels-area {
  order: 1;
  line-height: 15px;
  margin-top: 5px;
}

.card__members-area {
  order: 3;
  margin-top: auto;
  margin-bottom: 5px;
  align-self: flex-end;
}

.card__members-member {
  font-size: 12px;
  color: #fff;
  background-color: blue;
  padding: 5px;
  border-radius: 100%;
  margin-right: 4px;
}

.card__btn-edit {
  display: none;
  height: 20px;
  width: 20px;
  background-image: url("../assets/icons/edit.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 8px 5px;
}
.card__btn-edit:hover {
  background-color: #c9c9c9;
  border-radius: 5px;
}

.card__label-red {
  background-color: var(--red-main-bg);
}
.card__label-blue {
  background-color: var(--blue-main-bg);
}
.card__label-green {
  background-color: var(--green-main-bg);
}
.card__label-yellow {
  background-color: var(--yellow-main-bg);
}
.card__label-gray {
  background-color: var(--gray-main-bg);
}
.card__label-purple {
  background-color: var(--purple-main-bg);
}
.card__label-black {
  background-color: var(--black-main-bg);
}
.card__label-pink {
  background-color: var(--pink-main-bg);
}

.list__settings-call-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
}
.list__settings-dropdown {
  display: block;
  font-size: 14px;
}
.list__settings-dropdown-dnone {
  display: none;
}
.list__settings-dropdown-title {
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
  margin-left: 20px;
  margin-right: 20px;
}
.list__settings-list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #aaa;
}
.list__settings-item {
  font-weight: 300;
  padding: 5px 20px;
}
.list__settings-item:hover {
  cursor: pointer;
  background-color: #bbb;
}
.list__settings-modal-input {
  margin-left: 10px;
  width: 60%;
}
.list__settings-modal-select {
  margin-left: 10px;
  width: 50px;
  text-align: center;
  height: 25px;
}

.board-list {
  margin: 0 4px;
  margin-top: 10px;
  width: 272px;
  background-color: #ebecf0;
  border-radius: 3px;
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: column;
}

.list-background {
  margin-bottom: 15px;
}

.list-header {
  display: inline-block;
  position: relative;
  margin: 0px;
  width: 80%;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 10px;
}

.active-input-list {
  margin: 0 4px;
  margin-top: 10px;
  width: 272px;
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: column;
}

#trellact-logo {
  color: #fff;
  margin: 0 20%;
  color: rgba(255, 255, 255, 0.6);
}

.trellact-color {
  color: rgb(255, 255, 255);
}

#trellact-logo:hover {
  color: rgb(255, 255, 255);
}

.board__details-theme {
  margin-left: auto;
  position: relative;
}
.board__details-theme-grid {
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.theme-color {
  border: solid black 0.8px;
  border-radius: 1rem;
  margin: 0.2rem;
  width: 1.4rem;
  height: 1.4rem;
}
.theme-red {
  background-color: var(--red-main-bg);
}
.theme-blue {
  background-color: var(--blue-main-bg);
}
.theme-green {
  background-color: var(--green-main-bg);
}
.theme-yellow {
  background-color: var(--yellow-main-bg);
}
.theme-gray {
  background-color: var(--gray-main-bg);
}
.theme-purple {
  background-color: var(--purple-main-bg);
}
.theme-black {
  background-color: var(--black-main-bg);
}
.theme-pink {
  background-color: var(--pink-main-bg);
}

.workspace__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 60px;
  background-color: #FAFBFC;
  height: 100vh;
  color: #000;
}
.workspace__navbar {
  width: 30%;
}
.workspace__navbar-list {
  list-style: none;
}
.workspace__navbar-item {
  padding: 5px;
  font-weight: bold;
  margin-bottom: 2px;
  border-radius: 5px;
}
.workspace__navbar-item:hover {
  cursor: pointer;
  background-color: rgba(100, 89, 89, 0.2);
}
.workspace__content {
  width: 100%;
  margin-left: 40px;
}
.workspace__content-starred-boards {
  margin-bottom: 70px;
}
.workspace__content-starred-boards-title {
  font-size: 22px;
  font-weight: bold;
}
.workspace__content-starred-boards-area {
  display: flex;
  flex-direction: row;
}
.workspace__content-workspaces-title {
  color: #888;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.workspace__content-workspaces-area {
  display: flex;
  flex-direction: row;
}
.workspace__content-workspaces-workspace {
  margin-bottom: 40px;
}
.workspace__content-workspaces-workspace_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.workspace__content-workspaces-workspace_details-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.workspace__content-workspaces-workspace_details-item {
  color: #555;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px 5px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
.workspace__content-workspaces-workspace_details-item:hover {
  cursor: pointer;
  background-color: #bbb;
}
.workspace__content-workspaces-workspace_details-item svg {
  transform: translateY(0);
}
.workspace__card-board {
  color: #fff;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.workspace__card-board:hover {
  cursor: pointer;
  background-color: #888;
}
.workspace__card-board-title {
  font-size: 16px;
  font-weight: bolder;
}
.workspace__card-board-workspace {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.workspace__card-board-workspace i {
  color: rgb(230, 230, 0);
  align-self: center;
}
.workspace__card-board-workspace i:hover {
  color: rgba(230, 230, 0, 0.5);
}
.workspace__card-board-link {
  text-decoration: none;
}

body {
  font-family: Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
