#header{
    padding-right: 1em;
}

#header button{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10%;
    margin: 0.2rem 0.2rem;
    height: 80%;
}

#header button:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}

#new-board-btn{
    float: right;
    margin-right: 1rem;
}

#search{
    margin: 0.2rem 2rem;
    height: 80%;
}