.new-list-btn{
    display: inline-block;
    margin-top: 0.6rem;
    text-align: center;
    width: 16rem;
    height: 2rem;
    padding-bottom: 2rem;
    border-radius: 3px;
    color: #fff;
    background-color: #eaa;
}


.new-list-btn:hover{
    background-color: #fbb;
}