.new-list-btn{
    display: inline;
    margin-top: 10px;
    width: 272px;
    height: 30px;
    border-radius: 10%;
    color: #fff;
    background-color: #eaa;
}

.new-list-btn:hover{
    background-color: #fbb;
}