@use "./var";

.board__details{
    color: var.$board-btn-text-color;
    display: flex;
    flex-direction: row;

    &-item{
        display: inline-block;
        height: 2.4rem;
        border-radius: 4%;
        background-color: var.$board-btn-bg-color;
        padding: 0.4rem 0.8rem;
        margin: 0.3rem 0.6rem;

        &:hover{
            background-color: var.$board-btn-bg-color-hover;
            color: var.$board-btn-text-color-hover;
        }
    }

    &-title{
        font-weight: bold;
    }

    &-separator{
        margin: 0;
        padding: 0;
        background: none;
        font-size: 2rem;
        transform: translateY(-0.2rem);
        opacity: 60%;
    }

    &-menu{
        margin-left: auto;
    }
}