.exterior-card{
    margin-left: 5px;
    width: 95%;
    background-color: white;
    border-radius: 10%;

}

.exterior-card:hover{
    cursor: pointer;
}

.card__container{
    background-color: #eee;
}

.card-title{
    font-weight: bold;
}
