@use "./var";


.board__details-theme{
    margin-left: auto;
    position: relative;

    &-grid{
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.theme{

    &-color{
        border: solid black 0.8px;
        border-radius: 1rem;
        margin: 0.2rem;
        width: 1.4rem;
        height: 1.4rem;
    }

    &-red{
        background-color: var(--red-main-bg);
    }

    &-blue{
        background-color: var(--blue-main-bg);
    }

    &-green{
        background-color: var(--green-main-bg);
    }

    &-yellow{
        background-color: var(--yellow-main-bg);
    }

    &-gray{
        background-color: var(--gray-main-bg);
    }

    &-purple{
        background-color: var(--purple-main-bg);
    }

    &-black{
        background-color: var(--black-main-bg);
    }

    &-pink{
        background-color: var(--pink-main-bg);
    }
}