//theme colors
$red-main-bg: "#c1121f";
$red-header-bg: "#780000";

//general
$board-main-bg-color: $red-main-bg;
$board-header-bg-color: $red-header-bg;
$board-btn-text-color: "#fff";
$board-btn-text-color-hover: "#000";
$board-btn-bg-color:rgba(255, 255, 255, 0.5);
$board-btn-bg-color-hover: rgba(255, 255, 255, 0.7);



