#header{
    background-color: #780000;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header     button{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10%;
    margin: 0.2rem 0.2rem;
    height: 70%;
}

#header button:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}

.logo-area{
    display: inline-block;
    height: 100%;
    padding-top: 5px;
    width: 200px;
}

.final-half-header{
    height: 100%;
}


#header > *{

    margin-top: 4px;
}

@media screen and (max-width: 970px) {
    #boards > span{
        display: none;
    }
}

@media screen and (max-width: 630px){
    #search > input{
        display: inline-block;
        width: 30px;
    }
}