.board__details-tags{
    &-area{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        margin: 0.3rem 0.6rem;
    }
}

.board__tags{

    &-tag{
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px 10px;
        border-radius: 30px;
        font-size: 10px;
        letter-spacing: 2px;
    
        &:hover{
            cursor: pointer;
            transform: translateY(-1px);
            background-color: rgba(255, 255, 255, 0.7);
            color: #000;
        }
    }

    &-input{
        border: none;
        border-radius: 5px;

        &-area{
            display: flex;
            flex-direction: row;
            gap: 3px;
        }
    }

    &-confirm{
        transform: scale(-1, 1) rotate(325deg);
        background-color: rgba($color: #007710, $alpha: 1);
        &:hover{
            transform: scale(-1, 1) rotate(325deg);
            background-color: rgba($color: #219c31, $alpha: 1);
        }
    }

    &-cancel{
        background-color: rgba($color: #cf4242, $alpha: 1.0);
        &:hover{
            background-color: rgba($color: #f32525, $alpha: 1.0);
        }
    }
}
