@use "./var";

.board__details{
    color: var.$board-btn-text-color;
    display: flex;
    flex-direction: row;

    &-item{
        display: inline-block;
        height: 2.4rem;
        border-radius: 4%;
        background-color: var.$board-btn-bg-color;
        padding: 0.4rem 0.8rem;
        margin: 0.3rem 0.6rem;

        &:hover{
            background-color: var.$board-btn-bg-color-hover;
            color: var.$board-btn-text-color-hover;
        }
    }

    &-title{
        font-weight: bold;
    }

    &-separator{
        margin: 0;
        padding: 0;
        background: none;
        font-size: 2rem;
        transform: translateY(-0.2rem);
        opacity: 60%;
    }

    &-members-area{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
    }

    &-member{
        background-color: blue;
        border-radius: 100%;
        font-size: 12px;
        padding: 5px;
        margin-right: 3px;
    }

    &-menu{
        &-open{
            display: block;
            width: 300px;
            background-color: #aaa;
            height: 100vh;
            position: absolute;
            z-index: 1;
            top: 60px;
            right: 0;
            transition: width 0.5s;
        }

        &-closed{
            height: 0;
            width: 0;
            transition: width 0.5s;
        }

        &-header{
            display: flex;
            flex-direction: row;
            padding: 8px 0;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-bottom: solid #ccc 1px;
        }

        &-title{
            text-align: center;
            width: 100%;
        }

        &-close{
            margin-left: auto;
            border: none;
            background-color: transparent;
            font-size: 16px;
            font-weight: 400;
            margin-right: 5px;
            color: #fff;
        }

        &-content{
            margin-left: 20px;
            margin-right: 10px;
        }

        &-about{
            cursor: pointer;
            height: 60px;
            display: grid;
            grid-template-areas: 
            'icon text'
            '. desc';
            grid-template-columns: 10% 90%;
            margin-bottom: 10px;

            &:hover{
                background-color: #bbb;
                padding-left: 10px;
                border-radius: 5px;
            }
            
            &-icon{
                font-size: 20px;
            }
            
            &-text{
                align-self: center;
                font-weight: bold;
            }

            &-description{
                grid-area: desc;
                align-self: flex-start;
            }
        }

        &-change-theme{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            padding-top: 5px;
            height: 30px;

            &:hover{
                background-color: #bbb;
                padding-left: 10px;
                border-radius: 5px;
            }

            &-color{
                height: 20px;
                width: 20px;
                background-color: blue;
                border-radius: 30%;
                margin-right: 10px; 
            }
        }

        &-log-area{
            margin-top: 30px;
        }


    }


}