.card__button-members{

    &-dropdown{

        &-members-area{
            font-size: 12px;
            margin-bottom: 10px;
        }

        &-member{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: nowrap;
            align-items: center;

            &:hover{
                cursor: pointer;
                background-color: #ccc;
            }

            &-initials{
                width: 25px;
                margin-right: 5px;
                color: #fff;
                background-color: blue;
                padding: 3px;
                border-radius: 100%;
            }

            &-active{
                background-image: url('../assets/icons/check.svg');
                background-position: center;
                background-repeat: no-repeat;
                margin-left: auto;
                justify-self: flex-end;
                color: transparent;
                width: 14px;
                opacity: 0.3;
                padding: 5px;
            }
        }
    }

    &-dropdown--item{
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:hover{
            background-color: #6662;
            cursor: pointer;
        }
    }

    &-dropdown--image{
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
        margin-right: 0.4rem;
    }

    &-dropdown--active{
        margin-right: 0.4rem;
    }

}
