.card__name{
    display: flex;
    flex-direction: row;
}

.card__half-1{
    width: 90%
}

.card__span{
    background-color: #fff;
    width: 100%;
    height: 40px;
    display: inline-block;
    padding: 0.3rem 0.3rem 0.3rem 0;
    order: 1;

    &:hover{
        cursor: pointer;
    }

    &-member-photo{
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
    }

    &-label{
        display: inline-block;
        width: 40px;
        height: 10px;
        border-radius: 10px;
        margin-right: 0.2rem;

        &:hover {
            box-shadow: none;
        }
    }
}

.card__btn-edit{
    height: 40px;
}