.label{

    &-row{
        display: flex;
        flex-direction: row;
        width: 100%;    
    }   

    &-color{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        padding-left: 10px;
        color: #fff;
        margin-bottom: 4px;

        cursor: pointer;

        &-edit-caption{
            background-image: url('../assets/icons/edit.svg');
            background-position: center;
            background-repeat: no-repeat;
        }

        &-edit-caption, &-cancel-caption{
            margin-left: 3px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: transparent;
            align-self: center;

            &:hover{
                background-color: #c9c9c9;
                border-radius: 3px;
                cursor: pointer;
            }
        }

        &>span:first-of-type{
            display: inline-block;
            width: 100%;
            height: 100%;
        }

    }
    
    &-active{
        background-image: url('../assets/icons/check.svg');
        background-repeat: no-repeat;
        opacity: 0.3;
        width: 20px;
        height: 20px;
        margin-left: auto;
    }

    &-caption-input{
        width: 100%;
        background-color: rgba($color: #fff, $alpha: 0.3);
        border: none;
        border-radius: 5px;
        color: #fff;
    }
    
    &-red{
        background-color: var(--red-main-bg);
        &:hover{
            box-shadow: -5px 0px rgb(193 18 31 / 70%);
        }
        
    }

    &-blue{
        background-color: var(--blue-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(28 110 140 / 70%);
        }
    }

    &-green{
        background-color: var(--green-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(89 152 26 / 70%);
        }
    }

    &-yellow{
        background-color: var(--yellow-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(229 193 1 / 70%);
        }
    }

    &-gray{
        background-color: var(--gray-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(179 175 153 / 70%);
        }
    }

    &-purple{
        background-color: var(--purple-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(177 117 255 / 70%);
        }
    }

    &-black{
        background-color: var(--black-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(70 64 51 / 70%);
        }
    }

    &-pink{
        background-color: var(--pink-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(212 55 144 / 70%);
        }
    }
}