.label{

    &-color{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        padding-left: 10px;
        color: #fff;
        margin-bottom: 4px;

        cursor: pointer;
    }

    &-active{
        background-image: url('../assets/icons/check.svg');
        background-repeat: no-repeat;
        opacity: 0.3;
        width: 20px;
        height: 20px;
        margin-left: auto;
    }
    
    &-red{
        background-color: var(--red-main-bg);
        &:hover{
            box-shadow: -5px 0px rgb(193 18 31 / 70%);
        }
        
    }

    &-blue{
        background-color: var(--blue-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(28 110 140 / 70%);
        }
    }

    &-green{
        background-color: var(--green-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(89 152 26 / 70%);
        }
    }

    &-yellow{
        background-color: var(--yellow-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(229 193 1 / 70%);
        }
    }

    &-gray{
        background-color: var(--gray-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(179 175 153 / 70%);
        }
    }

    &-purple{
        background-color: var(--purple-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(177 117 255 / 70%);
        }
    }

    &-black{
        background-color: var(--black-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(70 64 51 / 70%);
        }
    }

    &-pink{
        background-color: var(--pink-main-bg);

        &:hover{
            box-shadow: -5px 0px rgb(212 55 144 / 70%);
        }
    }
}