@use "./var";

.card__edit-modal{

    &_main-height{
        height: 400px;
    }

    &_flex{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        height: 100%;
        border: none;
    }

    &_content{
        display: flex;
        flex-direction: column;
    }

    &_btn{
        background-color: #ccc;
        border: none;
        border-radius: 5px;
        padding: 6px 16px;
        font-size: 16px;
        font-weight: 500;

        &:hover{
            background-color: #bbb;
        }

        &-save{
            margin-top: 10px;
            width: 30%;
            color: #fff;
            background-color: var(--blue-main-bg);

            &:hover{
                background-color: var(--blue-header-bg);
            }
        }
    }

    &_label{
        font-weight: 600;
        margin-bottom: 5px;
        background-color: #bbb;
        border-radius: 5px;
        padding: 5px 10px;
    }

    &_input{
        font-size: 16px;
        padding: 6px 2px;
        border: none;
        border-radius: 5px;
        height: 100px;
    }

    &_settings{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 1rem;
        width: 170px;

        &-btn{
            border: none;
            background-color: #333;
            color: #fff;
            border-radius: 5px;
            width: 170px;
            text-align: left;
            padding: 5px 10px;
            margin-bottom: 8px;
            
            &:hover {
                background-color: #222;
                cursor: pointer;
                transform: translateX(5px);
            }

            &+article{
                margin-top: -8px;
            }
        }
    }

    &_edit-labels{
        background-color: #eee;
        border-radius: 2px;
        min-height: 100px;

        &-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 5px;
            border-bottom: solid 1px #bbb;
            margin: 5px 8px;
            
            & h4{
                text-align: center;
                width: 100%;
                font-weight: 400;
                font-size: 16px;
                margin-bottom: 0;
            }

            & button{
                font-size: 12px;
                font-weight: 300;
                color: #aaa;
                border: none;
                background-color: transparent;

                &:hover{
                    color: #555;
                }
            }
        }

        &-content{
            margin-left: 5px;
            margin-right: 5px;    
            margin-bottom: 10px;
            & > span {
                font-size: 12px;
                font-weight: 600;
            }
            
            &-labels-area{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 10px;
                flex-wrap: wrap;
            }

            &-label{
                display: flex;
                justify-content: space-between;
                width: 60px;
                height: 20px;
                color: #fff;
                font-size: 12px;
                border-radius: 5px;
                padding-left: 5px;
                cursor: pointer;

                &>.label-active{
                    opacity: 0.8;
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }


        }
    }

    &_edit-members{
        background-color: #eee;
        border-radius: 2px;
        min-height: 100px;

        &-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 5px;
            border-bottom: solid 1px #bbb;
            margin: 5px 8px;
            
            & h4{
                text-align: center;
                width: 100%;
                font-weight: 400;
                font-size: 16px;
                margin-bottom: 0;
            }

            & button{
                font-size: 12px;
                font-weight: 300;
                color: #aaa;
                border: none;
                background-color: transparent;

                &:hover{
                    color: #555;
                }
            }
        }

        &-content{
            margin-left: 5px;
            margin-right: 5px;    
            margin-bottom: 10px;
            & > span {
                font-size: 12px;
                font-weight: 600;
            }
            
            &-member{
                margin-top: 5px;
                font-size: 14px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;
            }
            
            &-initials{
                background-color: blue;
                padding: 5px;
                border-radius: 100%;
                margin-right: 5px;
                width: 35px;
                text-align: center;
            }

            &-active{
                background-image: url('../assets/icons/check.svg');
                background-position: center;
                background-repeat: no-repeat;
                margin-left: auto;
                justify-self: flex-end;
                color: transparent;
                width: 14px;
                opacity: 0.3;
            }
        }
    }

    &_edit-move{
        background-color: #eee;
        border-radius: 2px;
        min-height: 100px;
        height: fit-content;
        padding-bottom: 10px;
        
        &-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 5px;
            border-bottom: solid 1px #bbb;
            margin: 5px 8px;
            
            & h4{
                text-align: center;
                width: 100%;
                font-weight: 400;
                font-size: 16px;
                margin-bottom: 0;
            }

            & button{
                font-size: 12px;
                font-weight: 300;
                color: #aaa;
                border: none;
                background-color: transparent;

                &:hover{
                    color: #555;
                }
            }
        }

        &-content{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            min-height: 75%;

            & span{
                font-weight: 600;
                font-size: 12px;
            }

            & select{
                background-color: #efefef;
                color: #555;
            }
            
            & button{
                font-size: 14px;
                margin-top: 6px;
                cursor: pointer;
                width: 50%;
                background-color: var(--blue-main-bg);
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 5px 0;

                &:hover{
                    background-color: var(--blue-header-bg); 
                }
            }
        }

    }
}