.card__comments-comment{
    display: grid;
    grid-template-areas: 
        "pic user time"
        "pic content content"
        "pic btn btn";
    grid-template-columns: 7% 70% 23%;
    margin-bottom: 20px;
}

.card__activity-user-image{
    grid-area: pic;
}

.card__comment{
    &-initials{
        font-size: 12px;
        height: 2rem;
        width: 2rem;
        color: #fff;
        background-color: blue;
        padding: 5px;
        border-radius: 100%;
        margin-right: 4px;
    }

    &-user{
        margin-left: 0.4rem;
        grid-area: user;
        font-size: 1rem;
        font-weight: 500;
    }

    &-time{
        grid-area: time;
        font-size: 0.6rem;
        text-align: end;
    }

    &-content{
        margin-left: 0.4rem;
        padding-top: 0.4rem;
        padding-left: 0.4rem;
        grid-area: content;
        display: inline-block;
        background-color: #fff;
        border-color: #aaa;
        width: 100%;
        min-height: 2rem;
        border-radius: 5px;
    }
}
