@use './var';

.new-list-btn{
    display: inline-block;
    margin-top: 0.6rem;
    text-align: center;
    width: 16rem;
    height: 2rem;
    padding-bottom: 2rem;
    border-radius: 3px;
    color: var.$board-btn-text-color;
    background-color: var.$board-btn-bg-color;
}


.new-list-btn:hover{
    background-color: var.$board-btn-bg-color-hover;
    color: var.$board-btn-text-color-hover;
}